html
  head
    title ClassCreator Login
    link(rel='stylesheet' href='/css/login.css')
  body
  div(class="hr" id="hr")
    div(class="usernameBox" id="username")= 'Guest'
    div(class="welcomeH2" id="welcome")= 'ClassCreator'
      script.


      
      
      
      
      
      
      
  .login-form
    h1(style="margin-top: 20%;") Login Form
    form(action='auth' method='POST')
      input(type='text' name='student_ID' placeholder='Student ID' required='')
      input(type='password' name='password' placeholder='Password' required='')
      input(type='submit' style="cursor: pointer")
    form.Ecard(action='accountCreation' method='GET')
      button.NAbutton Create Account
