html
  head
    title ClassCreator Login
    link(rel='stylesheet' href='/css/login.css')
  body
  div(class="hr" id="hr")
    div(class="usernameBox" id="username")= firstName
    img(type="image" src="settingsIcon.png" class="settingsBox" height="40" width="40" onclick="sec()") 
    div(class="welcomeH2" id="welcome" onclick="sec2()")= 'ClassCreator'
      script.
        var clicks = 0;
        function sec() {
          console.log("hi")
          clicks++;
        }
        
        function sec2() {
          console.log("hi")
          if (clicks >= 10) {
            window.location.href = "http://192.168.24.135:3001/hangman"
          }
        }
  
    form(action="play" method="GET" class="TWOcard1" id="card1")
      input(type="image" src="selectIcon.png" height="65%" width="65%")
      button(class="Sbutton") Add Student
      
      
    form(action="settings" method="GET" class="TWOcard2" id="card2")
      input(type="image" src="class.png" height="75%" width="75%")
      button(class="Sbutton") Your Class
